.hero {
  position: relative;
}

.banner-image {
  width: 100%;
  mask-image: linear-gradient(to right), green, black, 75%;
  -weblit-mask-image: linear-gradient(to right), transparent, black, 75%;
}

.hero-caption {
  position: absolute;
  width: 100%;
  padding-left: 6%;
  bottom: 0;
}

.caption-image {
  width: 90%;
  max-width: 420px;
  margin-bottom: 30px;
}

.hero-caption p {
  max-width: 700px;
  font-size: 17px;
  margin-bottom: 30px;
}

.hero-button {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

/* .hero-button .btn img {
  width: 25px;
} */

.hero-play-btn {
  width: 25px;
  height: 25px;
  z-index: 1;
}

.hero-info-btn {
  width: 25px;
  height: 25px;
  z-index: 1;
}

.hero-button .btn {
  border: 0;
  outline: 0;
  padding: 8px 20px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 600;
  background: white;
  border-radius: 4px;
  cursor: pointer;
}

.hero-button .btn.dark-btn {
  color: white;
  background: #6d6d6eb3;
}

.hero-button .btn:hover {
  background: #ffffffbf;
}

.hero-button .btn.dark-btn:hover {
  background: #6d6d6eb3;
}

.more_cards {
  margin-left: 6%;
}
